link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans')