nav.navbar.navbar-fixed-top#main-menu(role='navigation', style='opacity: 0.9')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    h1.navbar-brand(href='/')
      span(style='font-weight: bold; font-size: 2.5em;') part
      span js
  .navbar-collapse.collapse.pull-right
