script(src='/creative/js/jquery.js')
script(src='/creative/js/bootstrap.min.js')
script(src='/creative/js/jquery.easing.min.js')
script(src='/creative/js/jquery.fittext.js')
script(src='/creative/js/wow.min.js')
script(src='/creative/js/creative.js')